- var title = "Pug（Jade）の説明ページ｜色々と説明する";

doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title #{title}
  body
    header
    h1
      a(href="#")
        img.logo(src="../images/ill-gift05.png" alt=title)